* {outline: 1px solid black}

* {
    font-family: "Roboto", sans-serif;
}

.hero, .footer {
    background-color: #1F2937;
}

.headertext {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.links, .text1 {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.signup, .banner {
    background-color: #3882F6;
}

.title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.testimonial {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

ul {
    list-style-type: none;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.links {
    display: inline-flex;
}

.header {
    display: flex;
}


.logo {
    align-items: center;
}

.awesome {
    display: flex;
}

.left {
    align-items: center;
}

.images {
    display: flex;
}
